Package/Software                         Version
------------------------------- -------------------
astropy                         6.1.2
ipython                         8.15.0
lcviz                           1.0.1.dev9+g64ec2a2
lightkurve                      2.5.0
matplotlib                      3.10.1
numpy                           1.26.4
plotly                          5.22.0
pyjs9                           3.8
xspec                           12.14.0h
sas                             21.0.0
